.panel {
    height: 100vh;
    width: 80px;
    background-color: #161616;
    position: fixed;
    left: 0;
    top: 0;
}

.button {
    padding: 16px 27px 16px 28px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.active {
    background-color: #161C19 !important;
    ;
    border-right: 2px solid #19875B;
    padding: 16px 25px 16px 28px;
}

.button svg path,
.button svg circle,
.button svg ellipse,
.button svg line {
    color: #737373;
}

.button.active svg path,
.button.active svg circle,
.button.active svg ellipse,
.button.active svg line {
    color: #19875B;
}

.cards {
    top: 68px;
    left: 110px;
    position: absolute;
}

.sborkaimg {
    background-image: url("https://media.discordapp.net/attachments/1363914792213152026/1366400318614540428/5f458a82820bf76c.png?ex=68122076&is=6810cef6&hm=2b7b5e7f17f8bc0dd91b01e22518bee4c4bfbc80b097a7fbd33ed4d45815f3f7&=&format=webp&quality=lossless&width=1872&height=808");
    width: 203px;
    height: 203px;
    border-radius: 12px;
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    transition: border-color 0.3s ease;
    background-size: cover;
    background-position: center;
}

.sborkaname {
    font-family: "Montserrat", sans-serif;
    margin: 8px 0 2px 0;
    color: #fff;
    font-weight: 600;
}

.sborkavers {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    color: #A1A1A1;
    font-weight: 400;
}

.playbut {
    display: none;
    font-family: "Montserrat", sans-serif;
    margin-top: 7.8px;
    width: 205px;
    height: 42px;
    background-color: #19875B;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.playbut:hover {
    background-color: #1a9e68;
}

.button img {
    width: 24px;
    height: 24px;
}

.button:hover {
    background-color: #181818;
}

.button:not(.active):hover svg path,
.button:not(.active):hover svg circle,
.button:not(.active):hover svg ellipse,
.button:not(.active):hover svg path {
    color: #A3A3A3;
}

.cards {
    display: flex;
    gap: 20px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
